<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8" />
    <title>News Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class = "container mt-5">
    <h1>News Blog</h1>
    <div th:each ="el : ${currentNews}" class="alert alert-info mt-2">
            <h3 th:text="${el.title}"> </h3>
            <p th:text="${el.description}"> </p>
            <p th:text="${el.pubDate}"> </p>
            <a th:href="${el.link}">Читать полностью</a>
            <p align="right"> Source: <span th:text="${el.author}"></span> </p>
    </div>
</div>
</body>
<nav aria-label="Pagination" th:if="${currentNews.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-bold">
        <li class="page-item" th:classappend="${currentNews.number eq 0} ? 'disabled'">
            <a class="page-link"
               th:href="@{/news?page={id}(id=${currentNews.number - 1})}"
               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq currentNews.number} ? 'active'"
            th:each="i : ${#numbers.sequence( 0, currentNews.totalPages - 1, 1)}">
            <a class="page-link" th:href="@{/news?page={id}(id=${i})}" th:text="${i}"></a>
        </li>
        <li class="page-item" th:classappend="${currentNews.number + 1 eq currentNews.totalPages} ? 'disabled'">
            <a class="page-link"
               th:href="@{/news?page={id}(id=${currentNews.number + 1})}"
               aria-label="Next" title="Next Page" data-toggle="tooltip">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</html>
